body {
    background-image: url('screenshot.png');
    background-size: cover;
}



display-4 {
    color: rgb(223, 203, 203);
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 40px;
    padding: 1.875em 0;
    text-shadow: 2px 2px 4px #000000;
}


body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    max-block-size: 1000px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
