@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



<ul class="navbar-nav">


    <li class="nav-item">
        <h3 style="font-size:larger;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    border;box-sizing: border-box;text-shadow: 2px 2px 12px #000;">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </h3>
    </li>

    <li class="nav-item">
        <h4 style="font-size:larger;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    border;border: thick;text-shadow: 2px 2px 12px #000;">
            st
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </h4>
    </li>


</ul>

<div class="display-4">
    <span>Welcome</span>
   <span></span>
    <span style="font-size:10rem;font-family: Britannic;text-shadow: 2px 2px 8px #000;color:white">UpMarket</span>
    

</div>



@*<div>
    <div class="background-image">
        <img src="~/Screenshot.png"/>
    </div>*@





<style>



    h1 {
        color: azure;
        height: 100%;
  
        padding: 0;
        margin: 0;
        font-family: 'PT Sans Narrow', sans-serif;
        font: 14.5em/1 Open Sans, Impact;
        letter-spacing: 2px;
        word-spacing: 3px;
        text-align: left;
        font-size: 245px;
    }

    svg {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    body {
        background: url(screenshot.png) no-repeat center center fixed;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        margin: 1%;
        width: 98%;
        height: 98%;
        background-size: cover;
        overflow-x: hidden;
        overflow-y: hidden;
        
    }


    
</style>
@*<h1 class="display-4">Welcome to UpMarket</h1>*@
@*<body class="frontPageImage"><img src="/Screenshot.png"></body>*@


</div>
